.yess{
     margin-top: 0em;
     margin-bottom: 0em;
     background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxQxcG55h8amOJKi5cTIahIAHkHwL6dw12nQ&usqp=CAU');
     background-size: 200px;
}
.yess h1{
     width: 1350px;
     height: 90px;
     margin-top: 0em;
     margin-bottom: 0em;
     padding: 100px 16px;
     text-align: center;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-size: 5em;
     text-decoration: none;
     display: block;
     font-weight: bold;
     color:khaki;
}
.blinkheart{
     margin: 0em;
     padding: 0em;
     min-height: 48vh;
     display: flex;
     align-items: center;
     justify-content: center;
     background: #0b1522;
}
.heart{
     height: 100px;
     width: 100px;
     background: #f20044;
     position: relative;
     transform: rotate(-45deg);
     box-shadow: -10px 10px 90px #f20044;
     animation: heart 0.6s linear infinite;
}
@keyframes heart{
     0%{
          transform: rotate(-45deg) scale(1.07);
     }
     80%{
          transform: rotate(-45deg) scale(1.0);
     }
     100%{
          transform: rotate(-45deg) scale(0.8);
     }
}
.heart:before{
     content: '';
     position: absolute;
     height: 100px;
     width: 100px;
     background:#f20044;
     top: -50%;
     border-radius: 50px;
     box-shadow: -10px -10px 90px #f20044;
}
.heart:after{
     content: '';
     position: absolute;
     height: 100px;
     width: 100px;
     background:#f20044;
     right: -50%;
     border-radius: 50px;
     box-shadow: 10px 10px 90px #f20044;
}